
test*

MANIFEST
src/*.html
docs/_build
lingutok/resources/*.trie
lingutok/resources/*.vals
lingutok/resources/*.vocabs
lingutok/resources/opencc_config/*

*.py[cod]

# C extensions
*.so
*.c
*.cpp
**/*.cpp
penmp

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.hypothesis
.cache
.tox
nosetests.xml

# IDE
.idea

.ipynb_checkpoints
**/.ipynb_checkpoints
**/*Untitled*.ipynb
**/*test*.ipynb